Jess's attempt for laoding in matlab datablob to python

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import datajoint as dj
dj.config["enable_python_native_blobs"] = True
import os
import seaborn as sns
import pandas as pd
dj.__version__

'0.13.7'

In [3]:
dj.conn()

[2022-07-21 12:53:16,301][INFO]: Connecting jbreda@datajoint01.pni.princeton.edu:3306
[2022-07-21 12:53:16,497][INFO]: Connected jbreda@datajoint01.pni.princeton.edu:3306

DataJoint connection (connected) jbreda@datajoint01.pni.princeton.edu:3306

In [4]:
# grab sessions table
acquisition = dj.create_virtual_module('new_acquisition', 'bl_new_acquisition')

# select animal
subject_session_key = {'session_rat': 'R500'}

# make df
sessions_df = pd.DataFrame((acquisition.Sessions & subject_session_key).fetch(as_dict=True))

In [5]:
sessions_df.head()

,sessid,session_rat,session_userid,session_rigid,session_date,session_starttime,session_endtime,protocol,peh,n_done_trials,...,total_correct,right_correct,left_correct,percent_violations,protocol_data,left_pokes,center_pokes,right_pokes,ip_addr,foodpuck
0,879474,R500,jm62,404,2022-07-19,0 days 10:49:46,0 days 11:57:01,DMS,None,28,...,0.54,0.62,0.47,0.0,None,520,612,704,128.112.222.46,0
1,879662,R500,jbreda,404,2022-07-20,0 days 11:38:31,0 days 12:27:40,DMS,None,53,...,0.94,0.90,0.99,0.0,None,158,196,172,128.112.222.46,0
2,879811,R500,jbreda,404,2022-07-21,0 days 10:26:37,0 days 11:27:59,DMS,None,10,...,0.70,0.80,0.60,0.0,None,124,308,112,128.112.222.46,0

In [6]:
sessions_df['protocol_data']

0    None
1    None
2    None
Name: protocol_data, dtype: object

In [7]:
sessions_df['peh']

0    None
1    None
2    None
Name: peh, dtype: object