In [10]:
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta
import pandas as pd
import numpy as np  

import sys
sys.path.append('/Users/jessbreda/Desktop/github/jbreda_animal_training/notebooks/_active_experiments/FixationGrower')
# Path to the 'meetings' directory where your .py file resides
meetings_path = "/Users/jessbreda/Desktop/github/jbreda_animal_training/notebooks/meetings"
if meetings_path not in sys.path:
    sys.path.append(meetings_path)
import config_alpha_experiment as alpha_config

import behav_viz.visualize as viz
import behav_viz.utils as utils
from behav_viz.utils import plot_utils as pu
from TCM_mtg_2024_09_05_FixationExperiment import *
import behav_viz.ingest as ingest

FIGURES_PATH = utils.dir_utils.get_figures_path("rats", "alpha")

# settings
%load_ext autoreload
%autoreload 2
sns.set_context("talk")

DATA_PATH = "/Users/jessbreda/Desktop/github/jbreda_animal_training/data/meetings/2024_12_LabMeeting/"

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## 0. Load Data

In [11]:
date_min = alpha_config.ALPHA_START_DATES["alpha_1"]
date_max = "2024-10-17"  # R056 was the last to finish on 2024-10-15
tdf = ingest.create_trials_df.create_trials_df_from_dj(
    alpha_config.ALPHA_ANIMALS, date_min, date_max=date_max
)

tdf = ingest.drop_dates(tdf, alpha_config.ALPHA_DATE_DROPS)

r044_max_date = pd.Timestamp(
    "2024-08-18"
).date()  # this animal had a rig break and needs to be dropped
tdf = tdf.query("not (animal_id == 'R044' and date > @r044_max_date)")

# remove post probe stages
tdf = tdf.query("stage > 4 and stage < 11")

animal_id R040
Fetched 75 dates from Sessions table from 2024-07-20 to 2024-10-17 for R040

animal_id R041
Fetched 84 dates from Sessions table from 2024-07-20 to 2024-10-17 for R041

animal_id R042
Fetched 84 dates from Sessions table from 2024-07-20 to 2024-10-17 for R042

animal_id R043
Fetched 85 dates from Sessions table from 2024-07-20 to 2024-10-17 for R043

animal_id R044
Fetched 50 dates from Sessions table from 2024-07-20 to 2024-09-21 for R044

animal_id R045
Fetched 83 dates from Sessions table from 2024-07-20 to 2024-10-17 for R045

animal_id R046
Fetched 84 dates from Sessions table from 2024-07-20 to 2024-10-17 for R046

animal_id R047
Fetched 78 dates from Sessions table from 2024-07-20 to 2024-10-17 for R047

animal_id R048
Fetched 74 dates from Sessions table from 2024-07-27 to 2024-10-17 for R048

animal_id R049
Fetched 69 dates from Sessions table from 2024-07-29 to 2024-10-17 for R049

animal_id R050
Fetched 75 dates from Sessions table from 2024-07-27 to 2024-10-17 for R050

animal_id R051
Fetched 77 dates from Sessions table from 2024-07-27 to 2024-10-17 for R051

animal_id R052
Fetched 77 dates from Sessions table from 2024-07-27 to 2024-10-17 for R052

animal_id R053
Fetched 50 dates from Sessions table from 2024-07-27 to 2024-09-21 for R053

animal_id R054
Fetched 75 dates from Sessions table from 2024-07-27 to 2024-10-17 for R054

animal_id R055
Fetched 66 dates from Sessions table from 2024-07-27 to 2024-10-17 for R055

animal_id R056
Fetched 77 dates from Sessions table from 2024-07-27 to 2024-10-17 for R056

animal_id R057
Fetched 76 dates from Sessions table from 2024-07-27 to 2024-10-17 for R057

dropping R046 2024-08-12 length: 404754
length: 404498
dropping R052 2024-08-14 length: 404498
length: 404167
dropping R051 2024-08-20 length: 404167
length: 403767
dropping R051 2024-08-21 length: 403767
length: 403430
dropping R051 2024-08-22 length: 403430
length: 403124

In [12]:
days_df = ingest.create_days_df.create_days_df_from_dj(
    animal_ids=alpha_config.ALPHA_ANIMALS,
    date_min=date_min,
    date_max=date_max,
    verbose=True,
)

Fetched data from SessionAggDate table from 2024-07-20 to 2024-10-17
Today is not being queried or data already exists in the database.
No new data from today, 2025-02-06 to add to SessionAggDate.

1365 daily summaries fetched for animals:
['R040', 'R041', 'R042', 'R043', 'R044', 'R045', 'R046', 'R047', 'R048', 'R049', 'R050', 'R051', 'R052', 'R053', 'R054', 'R055', 'R056', 'R057']
between 2024-07-20 and 2024-10-17

## 1. Weight

In [14]:
days_df.groupby("animal_id")["mass"].describe()

           count        mean        std    min     25%    50%     75%    max
animal_id
R040        82.0  505.524390  29.897448  459.0  480.00  499.5  535.00  564.0
R041        84.0  497.202381  23.572385  458.0  475.75  496.5  520.00  534.0
R042        84.0  552.202381  27.156743  500.0  527.75  554.5  576.00  596.0
R043        84.0  489.297619  20.382948  455.0  469.00  486.5  510.00  522.0
R044        58.0  391.844828  12.429170  376.0  382.00  386.0  404.25  415.0
R045        83.0  514.481928  19.566872  480.0  500.00  515.0  529.50  550.0
R046        84.0  442.821429  26.023234  399.0  416.75  443.0  468.50  483.0
R047        82.0  461.365854  29.588333  420.0  430.00  462.0  490.75  501.0
R048        74.0  412.256757  12.050193  391.0  401.00  417.0  422.75  433.0
R049        69.0  501.565217  21.025529  468.0  483.00  504.0  522.00  539.0
R050        76.0  551.868421  22.958131  511.0  530.75  559.5  571.00  591.0
R051        77.0  560.870130  21.156902  524.0  542.00  567.0  579.00  596.0
R052        76.0  492.289474  21.223142  457.0  470.75  501.5  511.00  524.0
R053        51.0  432.058824  12.522638  415.0  419.50  432.0  446.00  459.0
R054        76.0  492.605263  24.786060  456.0  465.75  500.5  515.00  531.0
R055        73.0  419.000000  18.171253  393.0  403.00  419.0  437.00  447.0
R056        75.0  568.160000  22.489060  533.0  546.00  577.0  588.00  605.0
R057        77.0  562.805195  22.465201  526.0  543.00  573.0  582.00  597.0

## 2. Antibias

In [17]:
tdf.query("ab_beta > 0").groupby("animal_id")["ab_beta"].describe()

             count      mean       std  min  25%  50%  75%  max
animal_id
R040        8287.0  2.879269  0.472111  0.1  3.0  3.0  3.0  3.0
R041        3939.0  2.765296  0.639377  0.1  3.0  3.0  3.0  3.0
R042        8957.0  2.893156  0.445795  0.1  3.0  3.0  3.0  3.0
R043        7274.0  2.887627  0.457969  0.1  3.0  3.0  3.0  3.0
R044         922.0  2.787419  0.676128  0.1  3.0  3.0  3.0  3.0
R045        6856.0  2.860414  0.505046  0.1  3.0  3.0  3.0  3.0
R046        6864.0  2.854240  0.515223  0.1  3.0  3.0  3.0  3.0
R047       10043.0  2.861107  0.504142  0.1  3.0  3.0  3.0  3.0
R048       17400.0  3.687802  0.928167  0.1  3.0  4.5  4.5  4.5
R049        6852.0  2.866681  0.494424  0.1  3.0  3.0  3.0  3.0
R050       11248.0  2.876245  0.477588  0.1  3.0  3.0  3.0  3.0
R051        6533.0  2.880147  0.470511  0.1  3.0  3.0  3.0  3.0
R052       20843.0  2.860169  0.505431  0.1  3.0  3.0  3.0  3.0
R053        6480.0  4.000579  0.990574  0.1  4.2  4.5  4.5  4.5
R054        8084.0  2.840957  0.540438  0.1  3.0  3.0  3.0  3.0
R055        5503.0  2.841904  0.534770  0.1  3.0  3.0  3.0  3.0
R056       19890.0  4.077187  0.891153  0.1  4.5  4.5  4.5  4.5
R057        6789.0  2.884666  0.462117  0.1  3.0  3.0  3.0  3.0

## 3. Water

In [15]:
tdf.query("water_delivered > 0").groupby("animal_id")["water_delivered"].describe()

             count       mean       std   min   25%   50%   75%   max
animal_id
R040        6561.0  30.000000  0.000000  30.0  30.0  30.0  30.0  30.0
R041        3409.0  30.000000  0.000000  30.0  30.0  30.0  30.0  30.0
R042        7109.0  30.000000  0.000000  30.0  30.0  30.0  30.0  30.0
R043        6793.0  30.000000  0.000000  30.0  30.0  30.0  30.0  30.0
R044         655.0  30.000000  0.000000  30.0  30.0  30.0  30.0  30.0
R045        6217.0  30.000000  0.000000  30.0  30.0  30.0  30.0  30.0
R046        5495.0  30.000000  0.000000  30.0  30.0  30.0  30.0  30.0
R047        9640.0  30.000000  0.000000  30.0  30.0  30.0  30.0  30.0
R048       11225.0  33.389131  4.360925  30.0  30.0  30.0  39.0  39.0
R049        6241.0  30.000000  0.000000  30.0  30.0  30.0  30.0  30.0
R050        9240.0  30.000000  0.000000  30.0  30.0  30.0  30.0  30.0
R051        5960.0  30.000000  0.000000  30.0  30.0  30.0  30.0  30.0
R052       16768.0  30.000000  0.000000  30.0  30.0  30.0  30.0  30.0
R053        5199.0  31.583766  4.293558  28.0  28.0  28.0  37.0  40.0
R054        7142.0  30.000000  0.000000  30.0  30.0  30.0  30.0  30.0
R055        5050.0  30.000000  0.000000  30.0  30.0  30.0  30.0  30.0
R056       15416.0  30.000000  0.000000  30.0  30.0  30.0  30.0  30.0
R057        6309.0  30.000000  0.000000  30.0  30.0  30.0  30.0  30.0